{% extends "base.html" %}

{% block content %}
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div>
        <h2>Posts</h2>
        {% if user.posts == [] %}
            <p> {{user.first_name}} has no posts yet</p>
        {% endif %}
        <ul>
            {% for post in user.posts %}
                <li>
                    <a href="/{{user.id}}/posts/{{post.id}}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <img src="{{user.image_url}}" alt="user_img"
        height="1.5rem">
        <form method="POST">
        <input type="submit" value="Edit User" />
        </form>
        <form action=" /{{user.id}}/posts/new">
        <input type="submit" value="Make a Post" />
        </form>
    </div>
    
{% endblock %}